<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="CollectionRequestMapper">
      
      <resultMap id="collectionRequestMap" 
          type="es.collectserv.clases.CollectionRequest">
          <id property="id" column="id_solicitud_pk"/>
          <result property="fch_request" column="fch_solicitud_nn"/>
          <result property="fch_collection" column="fch_recogida_nn"/>
          <result property="telephone_number" column="telephone_nn"/>
          <result property="totalItems" column="num_enseres"/>
          <association property="collectionPoint" 
          	column="punto_recogida_nn" 
            javaType="es.collectserv.clases.CollectionPoint"
            select="selectCollectionPoint"/> 
           <collection property="furnitures" 
           	 javaType="ArrayList"
          	 ofType="es.collectserv.clases.Furniture"
          	 select="selectFurniture" 
          	 column="id_solicitud_pk"/> 
      </resultMap>
      
      <select id="selectCollectionPoint" 
  	    resultType="es.collectserv.clases.CollectionPoint">
  		  SELECT id_punto_recogida_pk AS pointId,
          	lon_nn AS longitude,
       	  	lat_nn AS latitude,
       	  	direccion AS direction,
          	zone 
          	FROM servrecog_puntos_recogida
          	WHERE id_punto_recogida_pk = #{id}
	  </select>

      <select id="selectFurniture" 
          resultType="es.collectserv.clases.Furniture">
          SELECT 
          id_furniture_nn AS id,
          cantidad_ck AS cantidad 
          FROM servrecog_muebles_solicitud WHERE id_solicitud_nn = #{id}
      </select>
      
      <select id="selectCollectionRequestById" resultMap="collectionRequestMap">
  		SELECT * FROM servrecog_muebles_solicitud_view 
  		WHERE id_solicitud_pk = #{id}
	  </select>

      <select id="selectNumCollectionByDay" resultMap="collectionRequestMap">
  		SELECT * FROM servrecog_muebles_solicitud_view 
  		WHERE fch_recogida_nn == #{day}
	  </select>

      <select id="selectPendingRequest" resultMap="collectionRequestMap">
  		SELECT * FROM servrecog_muebles_solicitud_view 
  		WHERE fch_recogida_nn > now()
	  </select>
      
      <select id="selectFurnituresByDay" parameterType="Date" resultType="Integer">
          SELECT coalesce(SUM(num_total_enseres_ck),0) AS result 
          FROM servrecog_solicitudes
		  WHERE fch_solicitud_nn = #{id}
      </select>
      
      <select id="selectPendingRequestByPhone" resultMap="collectionRequestMap">
  		SELECT * FROM servrecog_muebles_solicitud_view 
  		WHERE fch_recogida_nn > now() AND telephone_nn = #{id}
	  </select>
      
      <select id="selectAllCollectionDays" resultType="Date">
          SELECT DISTINCT(fch_recogida_nn) FROM servrecog_solicitudes
      </select>	  
      
      <insert id="insertCollectionRequest"
          useGeneratedKeys="true" keyColumn="id_solicitud_pk"
           keyProperty="id">
     	INSERT INTO servrecog_solicitudes(
			fch_solicitud_nn,fch_recogida_nn,telephone_nn,punto_recogida_nn) 
			VALUES (#{fch_request},#{fch_collection},
			#{telephone_number},#{collectionPoint.pointId}) 
      </insert>
      
      <insert id="insertFurnituresInRequest">
		INSERT INTO servrecog_muebles_solicitud(
			id_furniture_nn,id_solicitud_nn,cantidad_ck) 
			VALUES 
        <foreach collection="furnitures" item="item" 	
            open="(" close=")" separator=",">
          #{item.id},#{id},#{item.cantidad}
        </foreach>
      </insert>
     
  </mapper>