<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="CollectionPointMapper">
    
  	<select id="selectUrbanAreaPoints" 
  	    resultType="es.collectserv.clases.CollectionPoint">
		SELECT lon_nn AS longitude,
			   lat_nn AS latitude,
			   direccion AS direction,
               id_punto_recogida_pk AS point_id,
               zone AS zona FROM servrecog_area_urbana_view;
	</select>
	
	<select id="selectRuralPoints" 
  	    resultType="es.collectserv.clases.CollectionPoint">
		SELECT lon_nn AS longitude,
			   lat_nn AS latitude,
			   direccion AS direction,
               id_punto_recogida_pk AS point_id,
               zone AS zona FROM servrecog_area_rural_view;
	</select>
  	
  </mapper>