<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="es.collectserv.clases.CollectionPointMapper">
  	
  	<resultMap id="collectionPointMap" 
  	type="es.collectserv.clases.CollectionPoint">
  		<result property="id" column="id_punto_recogida_pk"/>
  		<result property="longitude" column="lon_nn" />
  		<result property="latitude" column="lat_nn" />
  		<result property="direction" column="direccion"/>
  		<result property="zone" column="zone"/>
  	</resultMap>
  	
  	<select id="selectPoint" 
  	resultMap="collectionPointMap">
  		SELECT * FROM servrecog_puntos_recogida WHERE id_punto_recogida_pk = #{id}
  	</select>

  </mapper>