<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="UserMapper">
  	<resultMap id="userResultMap" type="es.collectserv.clases.User">
  		<result property="name" column="name_nn" />
  		<result property="phone_number" column="telephone_pk" />
  	</resultMap>
  	
  	<select id="selectUser" resultMap="userResultMap">
  		SELECT * FROM servrecog_usuarios WHERE telephone_pk = #{phone_number}
  	</select>
  	
  	<insert id="insertUser">
		INSERT INTO servrecog_usuarios (name_nn, telephone_pk)
  		VALUES (#{name},#{phone_number})
	</insert>
  	
	<delete id="deleteUser">
	  DELETE FROM servrecog_usuarios WHERE telephone_pk = #{phone_number}
	</delete>
  	
  </mapper>