<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="ZoneMapper">
      
  	<resultMap id="zoneResult" type="es.collectserv.clases.Zone" >
      <id property="id" column="id_zone_pk"/>
      <result property="name" column="nombre_uk" />
      <collection property="points" 
          javaType="ArrayList"
          ofType="es.collectserv.clases.CollectionPoint"
          select="selectCollectPointForZone" 
          column="id_zone_pk"/> 
  	</resultMap>
    
  	<select id="selectCollectPointForZone" 
  	    resultType="es.collectserv.clases.CollectionPoint">
  		SELECT id_punto_recogida_pk AS pointId,
          lon_nn AS longitude,
       	  lat_nn AS latitude,
          direccion AS direcion,
          zone 
          FROM servrecog_puntos_recogida
          WHERE zone = #{id}
	</select>
  	
  	<select id="selectZone" resultMap="zoneResult">
  		SELECT * FROM servrecog_zones 
  		  WHERE id_zone_pk = #{id}
	</select>
	
  </mapper>